---

---

<section>
    <div class="logo">
        <a href=""><img src="./Logo.png" alt=""></a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Materiales</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a class="galeria" href="#">Galeria</a></li>
        </ul>
    </div>
</section>

<style>
    /* Header */
    section{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin-top: 1rem;
        background-image: url("");
        font-family: "Open Sans", sans-serif;
    }

    /* Navegacion */
    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .nav ul li{
        list-style: none;
    }
    .nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
    }
    .nav ul li .galeria{
        padding: 1rem 2rem;
        background-color: orange; 
        border-radius: 1px;
    }
    

    /* Logo */
    .logo a img{
        width:6rem;
    }



</style>